<!-- <h1>Titulo del proyecto</h1>
<p>Hola {{al01.nombre }}, su edad es {{al01.edad }}</p>
<p><input type="text" [value]="al01.nombre"/></p>
<p><progress max=80 [value]="al01.edad"></progress></p>
<button [disabled]="estadoBoton" (click)="onGuardar()">Enviar</button>
<br>
<button (click)="onEstado()">Cambio Estado</button>
<p><img [src]="imagen" alt="no hay imagen"></p> -->

<!-- Menu-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-stop">
  <div class="container-fluid">

      <a style="color: #038c7f" class="navbar-brand" href="index.html">
        <img class="logo" src="https://cdn-icons-png.flaticon.com/512/1390/1390221.png" width ="28" alt="">FUNKOMANIA
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navegar" aria-controls="navbarToogler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navegar">
        <div class="navbar-nav mr-auto ml-auto mb-lg-0">
          <a class="nav-link" href="nosotros.html">Nosotros</a>
          <a class="nav-link" href="login.html">Login</a>
        </div>
      </div>
  </div>
</nav>

<!-- Contenido-->

<div class="container mt-5 mb-5">
  <h2 style="color: #038c7f" class="text-one">FUNKOMANIA, OFRECE:</h2>
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img src={{funko1}} class="card-img-top" alt="100%">
                <div class="card-body">
                    <h5 class="card-title"> {{funk1.nombre}} </h5>
                    <p class="card-text">S/.{{funk1.precio}} </p>
                    <a href="#" class="btn btn-outline-success">Agregar al Carrito</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <img src={{funko2}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{funk2.nombre}} </h5>
                    <p class="card-text">S/.{{funk2.precio}} </p>
                    <a href="#" class="btn btn-outline-success">Agregar al Carrito</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3"> 
            <div class="card">
                <img src={{funko3}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{funk3.nombre}} </h5>
                    <p class="card-text">S/.{{funk3.precio}}</p>
                    <a href="#" class="btn btn-outline-success">Agregar al Carrito</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3"> 
            <div class="card">
                <img src={{funko4}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{funk4.nombre}} </h5>
                    <p class="card-text">S/.{{funk4.precio}} </p>
                    <a href="#" class="btn btn-outline-success">Agregar al Carrito</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <img src={{funko5}} class="card-img-top" alt="100%">
            <div class="card-body">
                <h5 class="card-title">{{funk5.nombre}} </h5>
                <p class="card-text">S/.{{funk5.precio}} </p>
                <a href="#" class="btn btn-outline-success">Agregar al Carrito</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <img src={{funko6}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{funk6.nombre}} </h5>
                <p class="card-text">S/.{{funk6.precio}} </p>
                <a href="#" class="btn btn-outline-success">Agregar al Carrito</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3"> 
        <div class="card">
            <img src={{funko7}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{funk7.nombre}}</h5>
                <p class="card-text">S/.{{funk7.precio}}</p>
                <a href="#" class="btn btn-outline-success">Agregar al Carrito</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3"> 
        <div class="card">
            <img src={{funko8}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{funk8.nombre}} </h5>
                <p class="card-text">S/.{{funk8.precio}} </p>
                <a href="#" class="btn btn-outline-success">Agregar al Carrito</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
        <img src={{funko9}} class="card-img-top" alt="100%">
        <div class="card-body">
            <h5 class="card-title">{{funk9.nombre}} </h5>
            <p class="card-text">S/.{{funk9.precio}} </p>
            <a href="#" class="btn btn-outline-success">Agregar al Carrito</a>
        </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
        <img src={{funko10}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{funk10.nombre}} </h5>
            <p class="card-text">S/.{{funk10.precio}} </p>
            <a href="#" class="btn btn-outline-success">Agregar al Carrito</a>
        </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3"> 
    <div class="card">
        <img src= {{funko11}}  class="card-img-top" alt="no hay imagen">
        <div class="card-body">
            <h5 class="card-title">{{funk11.nombre}} </h5>
            <p class="card-text">S/.{{funk11.precio}} </p>
            <a href="#" class="btn btn-outline-success">Agregar al Carrito</a>
        </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3"> 
    <div class="card">
        <img src= {{funko12}}  class="card-img-top" alt="no hay imagen">
        <div class="card-body">
            <h5 class="card-title">{{funk12.nombre}} </h5>
            <p class="card-text">S/.{{funk12.precio}} </p>
            <a href="#" class="btn btn-outline-success">Agregar al Carrito</a>
        </div>
    </div>
    </div>
    </div>
</div>

<h1>Mantenimiento de Productos</h1>
<h1>Tabla 01</h1>
    <div class="mb-3">
      <label for="funko-nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="funko-nombre" aria-describedby="nombreHelp" [(ngModel)]="producto.nombre">
      <div id="nombreHelp" class="form-text">Indique el nombre del estudiante</div>
    </div>
    <div class="mb-3">
        <label for="funko-precio" class="form-label">Precio</label>
        <input type="number" class="form-control" id="funko-precio" aria-describedby="precioHelp" [(ngModel)]="producto.precio">
        <div id="precioHelp" class="form-text">Indique el precio del producto</div>
    </div>
      
    <button class="btn btn-outline-success" (click)="onDatos()"> Registrar</button> 

   
<p *ngIf="funkos.length == 0;else conDatos">No se cuentan con datos disponibles</p>
<ng-template #conDatos>
    <p *ngIf="funkos.length == 1" >Existe {{funkos.length}} registro disponible.</p>
    <p *ngIf="funkos.length > 1" >Existen {{funkos.length}} registros disponibles.</p>
</ng-template> 

<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let funk of alumnos index as i">
        <td>{{funk.nombre}}</td>
        <td>{{funk.precio}}</td>
        <td><button type="button" class="btn btn-warning" (click)="onEliminar(i)">Eliminar</button></td>
        <td><button type="button" class="btn btn-info" >Actualizar</button></td>
      </tr>
    </tbody>
  </table> 
